@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}
nav {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amaranth', sans-serif;
}
