@import url('reset.css');
@import url('fonts-base.css');
.grid {
  display: grid;
  grid-template-columns: max-content 1fr;
}

body {
  font-size: 20px;
}

label, input {
  margin: .5em 1em;
}

form {
  max-width: 40em;
  margin: 3rem auto;
}

