<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <% 
    if (title == 'Home Page') {
  %>
      <button>This is a Home Page Button</button>
  <%
    }
  %>
  <nav>
    <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/resources">Resources</a></li>
      <li><a href="/definitions">Definitions</a></li>
    </ul>
  </nav>