<nav>
  <ul class="horz">
    <li><a href="/" class="<%= currentIndex %>">Home</a></li>
    <li><a href="/definitions" class="<%= currentDefinitions %>">Terms and Definitions</a></li>
    <li><a href="https://github.com/acidtone/wbdv-winter-2020">Program Repo</a></li>
  </ul>
</nav>