    <form action="/definitions" method="POST">
      <fieldset>
        <legend>Please enter a new definition:</legend>
        <div class="grid">
          <label for="term">
            <span>Term</span>
            <input type="text" name="term" id="term">
          </label>
          <label for="definition">
            <span>Definition</span>
            <input type="text" name="definition" id="definition">
          </label>
          <button type="submit">Submit Definition</button>
        </div>
      </fieldset>
    </form>