<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page Sample</title>
  <%- include('partials/head') %>
</head>
<body>
  <div class="wrapper">
    <%- include('partials/nav') %>
    <main class="text-box">
      <h1>WBDV Express Sample</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nobis velit iure ex illo distinctio molestiae possimus? Sapiente earum autem sequi? Aliquid repudiandae maiores odio ullam enim vitae ipsam consectetur hic officiis adipisci voluptate iste voluptatum temporibus aliquam magnam pariatur eveniet impedit, a soluta, quibusdam exercitationem nemo nesciunt dolores? Ea distinctio inventore voluptas nulla vitae aut praesentium quia modi tenetur possimus quas, animi ipsam doloremque, laborum iure. Error assumenda harum eum recusandae cupiditate! Blanditiis sunt rerum placeat? Rem necessitatibus nobis repellendus exercitationem quasi ipsa culpa saepe eligendi, neque dolor animi facere laboriosam consectetur eveniet ipsum aspernatur vero quisquam eaque harum.</p>
    </main>
</div>
</body>
</html>