<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fruit List</title>
</head>
<body>
  <ul>
<%
fruit.forEach(function(item){
%>

    <li><%= item.name %>: <%= item.colour %></li>

<%
})
%>
  </ul>
</body>
</html>